* {
	font-family:"calibri", monospace ;
}

p{
	color: navy;
}

h1	{
	font-size: 18px;
}

#learn	{
	text-transform: uppercase;
}

.languages	{
	background-color: lightcoral;
}

.tools	{
	border: 1px dotted;
}

img + ul {
	list-style-type: none;
}

section img	{
	width: 80px;
}

h4 ~ p {
	text-align: center;
}

section > h4 {
	letter-spacing: 20px;
}